<div>
    <div nz-row class="header">
        <div nz-col nzSpan="4">
            <h2>CAR BRANDS LIST</h2>
        </div>
        <div nz-col nzSpan="4" class="select-sort">
            <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
                <i nz-icon nzType="down"></i>
                {{currentSelect}}
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                    <li nz-menu-item *ngFor="let item of sortList; index as i;" (click)="_OnItemClick(item)">{{item}}
                    </li>
                </ul>
            </nz-dropdown-menu>
        </div>
        <div nz-col nzSpan="5" class="search">
            <nz-input-group [nzPrefix]="prefixIconSearch">
                <input type="text" nz-input placeholder="Search car brand" />
            </nz-input-group>
            <ng-template #prefixIconSearch>
                <i nz-icon nzType="search"></i>
            </ng-template>
        </div>
        <div nz-col nzSpan="11" class="add-btn">
            <button nz-button nzType="primary" nzSize="small">
                <span>
                    <i nz-icon nzType="plus"></i>
                    Add Brand
                </span>
            </button>
        </div>
    </div>
    <div class="list-container">
        List Worked!
        <nz-list>
            <nz-list-item *ngFor="let item of brandList; index as i; let even = even" class="list-item" [ngClass]="{ 'even-row' : even }">
                <div nz-row nzJustify="space-between" nzAlign="top" style="width: 100%">
                    <div nz-col nzSpan="1" class="check-col"><label nz-checkbox></label></div>
                    <div nz-col nzSpan="14" class="brand-info">
                        <div nz-row nzJustify="start" nzAlign="middle">
                            <div nz-col class="brand-thumbnail">
                                <nz-avatar [nzSize]="64" [nzShape]="'square'" nzIcon="car"></nz-avatar>
                            </div>
                            <div nz-col ><nz-divider nzType="vertical" ></nz-divider></div>
                            <div nz-col class="brand-detail">{{item.NAME}}</div>
                        </div>
                    </div>
                    <div nz-col nzSpan="5" class="update-date">asdas</div>
                    <div nz-col nzSpan="2" class="status">asdasd</div>
                    <div nz-col nzSpan="2" class="view-detail">
                        <button nz-button nzType="primary" nzSize="small">
                            View Details
                        </button>
                    </div>
                </div>
            </nz-list-item>
        </nz-list>
    </div>
</div>