<div>
    <div ngClass="page-body">
        <div nz-row>
            <button nz-button nzType="primary" nzSize="large" class="back-btn" [routerLink]="'/brandslist'">
                <i nz-icon nzType="left" nzTheme="outline"></i>
                <span>
                    Brand Details
                </span>
            </button>
            <div nz-col nzSpan="24">
                <h3 class="font-w600 font-s14">Brand Logo</h3>
            </div>
            <nz-divider nzType="horizontal" style="margin-top: 12px"></nz-divider>
            <div nz-col nzSpan="24" ngClass="logo">
                <div nz-row nzJustify="center" nzAlign="bottom">
                    <div nz-col nzSpan="24">
                        <nz-upload 
                            nzAction="http://localhost:8000/api/v1/util/img"
                            nzName="avatar"
                            nzListType="picture-card"
                            [nzShowUploadList]="false"
                            nzListType="picture-card"
                            [nzBeforeUpload]="beforeUpload"
                            (nzChange)="handleChange($event)"
                            [nzDisabled]="!isEdit ? true : false"
                            ngClass="logo-content"
                        >
                        <ng-container *ngIf="false">
                            <span ngClass="logo-placeholder">
                                <i nz-icon nzType="plus" nzTheme="outline" style="font-size: 32px;"></i>
                                <br>
                                <span>Brand Logo</span>
                            </span>
                        </ng-container>
                        <button nz-button ngClass="upload-btn" *ngIf="isEdit ? true : false">
                                Change Logo
                        </button>
                          <img *ngIf="avatarUrl || data.logo" [src]="avatarUrl ? avatarUrl : data.logo" style="width: 100%"/>
                        </nz-upload>
                    </div>
                </div>
            </div>
            <div nz-col nzSpan="12"><h3 class="font-w600 font-s14">Brand Details</h3></div>
            <nz-divider nzType="horizontal" style="margin: 0 12px"></nz-divider>
            <form id="brandForm"nz-form style="width: 100%;" ngClass="form-content" (ngSubmit) = 'handleSubmit()' [formGroup]="form">
                <div nz-col nzSpan="24">
                        <div nz-row>
                            <div nz-col nzSpan="12">
                                <nz-form-label nzFor="name" nzNoColon nzRequired>Brand Name</nz-form-label>
                                <div *ngIf="!isEdit" ngClass="preview-field">{{data.name}}</div>
                                <nz-form-item *ngIf="isEdit">
                                    <nz-form-control [nzSpan]="14" [nzValidateStatus]="!validateName ? 'error' : 'success'">
                                    <input nz-input name="name" type="name" id="name" placeholder="Input Content" formControlName="name" [(ngModel)]="data.name">
                                    </nz-form-control>
                                </nz-form-item >
                            </div>
                            <div nz-col nzSpan="12">
                                <div ngClass="form-status">
                                    <nz-form-label nzFor="name" nzNoColon>Brand Status</nz-form-label>
                                    <nz-form-item>
                                        <nz-select 
                                        name="status" 
                                        [ngModel]="data.status" 
                                        nzBorderless 
                                        nzAllowClear="false"
                                        [nzDisabled]="!isEdit ? true : false"
                                        [nzShowArrow]="isEdit ? true : false"
                                        [nzCustomTemplate]="defaultTemplate" 
                                        id="status" 
                                        [ngClass]="form.value.status === 1 ? 'active' : 'inactive'"
                                        formControlName="status">
                                            <nz-option *ngFor="let item of statusList; index as i; let idx = index" 
                                            [nzLabel]="item" 
                                            [nzValue]="idx"
                                            ></nz-option>
                                        </nz-select>
                                        <ng-template #defaultTemplate let-selected>
                                            <span [ngClass]="selected.nzLabel === 'Active' ? 'active' : 'inactive'">
                                                <i nz-icon >
                                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M7.00004 3.66671C5.16004 3.66671 3.66671 5.16004 3.66671 7.00004C3.66671 8.84004 5.16004 10.3334 7.00004 10.3334C8.84004 10.3334 10.3334 8.84004 10.3334 7.00004C10.3334 5.16004 8.84004 3.66671 7.00004 3.66671ZM7.00004 0.333374C3.32004 0.333374 0.333374 3.32004 0.333374 7.00004C0.333374 10.68 3.32004 13.6667 7.00004 13.6667C10.68 13.6667 13.6667 10.68 13.6667 7.00004C13.6667 3.32004 10.68 0.333374 7.00004 0.333374ZM7.00004 12.3334C4.05337 12.3334 1.66671 9.94671 1.66671 7.00004C1.66671 4.05337 4.05337 1.66671 7.00004 1.66671C9.94671 1.66671 12.3334 4.05337 12.3334 7.00004C12.3334 9.94671 9.94671 12.3334 7.00004 12.3334Z"
                                                            [attr.fill]="selected.nzLabel == 'Active' ? '#1F7B4D' : '#5F5F5F'"
                                                            />
                                                    </svg>
                                                </i>
                                                {{ selected.nzLabel }}
                                            </span>
                                        </ng-template>
                                    </nz-form-item >
                                </div>
                            </div>
                        </div>
                </div>
                <div nz-col nzSpan="24">
                    <div nz-row>
                        <div nz-col nzSpan="24">
                            <nz-form-label nzFor="description" nzNoColon>Brand Description</nz-form-label>
                            <div *ngIf="!isEdit" ngClass="preview-field">{{data.description}}</div>
                            <nz-form-item *ngIf="isEdit">
                                <nz-form-control>
                                <textarea nz-input 
                                    name="description" 
                                    type="description" 
                                    id="description" 
                                    formControlName="description" 
                                    [ngModel]="data.description"
                                    [nzAutosize]="{ minRows: 4, maxRows: 6 }"
                                ></textarea>
                                </nz-form-control>
                            </nz-form-item >
                        </div>                           
                    </div>
                </div>
            </form>
        </div>
        <button *ngIf="!isEdit ? true : false" nz-button nzType="primary" nzSize="default" class="sumit-btn" (click)="handleEdit()">
            <span>
                Edit Information
            </span>
        </button>
        <button *ngIf="!isEdit ? true : false" nz-button nzType="default" nzSize="default" class="delete-btn" (click)="handleDelete()">
            <span>
                Delete Brand
            </span>
        </button>
        <button *ngIf="isEdit ? true : false" nz-button nzType="primary" nzSize="default" type ='submit' form="brandForm" class="sumit-btn">
            <span>
                Save Changes
            </span>
        </button>
        
    </div>
</div>