.list-container{
    max-height: 80vh;
    overflow-y: auto;
    padding-inline: 10px;
    .list-item{
        padding:  24px 0;
        .check-col{
            display: flex;
            align-items: baseline;
            justify-content: flex-start;
            margin: auto 0;
            ::ng-deep .ant-checkbox span {
                border-radius: 50%;
            }
        }
        .brand-info{

            .logo-divider{
                height: 4.5em;
                margin: 0 40px;
                border-left: 2px solid  #5F5F5F;
            }
            .brand-detail{
                .name{
                    font-size: 20px;
                    font-weight: 500;
                }
                .brand-description{
                    .description{
                        color: #8C8C8C;
                        max-width: 195px;
                    }
                    .model-divider{
                        border-left-color: #E3E3E3;
                        margin:  0 16px ;
                    }
                    .models-quantity{color: #0F5EDD;}
                }
            }       
        }

        .update-date{
            text-align: center;
        }     

        .status{
            display: flex;
            justify-content: center;
            > div {
                width: 125px;
                height: 40px;
                background-color: #FAFAFA;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
               
                span {
                    position: relative;
                    text-align: justify;
                    width: 50px;
                    &::before {
                        content: "";
                        position: absolute;
                        border-radius: 50%;
                        width: 12px;
                        height: 12px;
                        left: 0;
                        transform: translate(-1rem ,50%);
                    }
                }
            }
            .active-indi{
                color: #1F7B4D;
               span {
                &::before{
                    background-color: #1F7B4D;
                }
               }
            }
            .inactive-indi{
               span {
                color: #5F5F5F;
                &::before{
                    background-color: #5F5F5F;
                }
               }
            }
        }
        .view-detail{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            button {
                font-weight: 500;
                right: 0;
                color: #232323;
                /* Neutral/1 */
                background: #FFFFFF;
                /* Neutral/5 */
                width: 118px;
                height: 40px;
                border: 1px solid #B4B4B4;
                border-radius: 4px;
                margin-bottom: 1em;
            }
        }
        &.even-row{
            .brand-info .logo-divider{
                border-left-color: #0FC97B;
            }
        }
    }
    .empty-list{
        display: flex;
        justify-content: center;
        font-size: 48px;
        flex-direction: column;
        align-items: center;
    }
}