.collapsed{
  display: none;
}

.wrapper {
  // width: 240px;
  background-color:#323435 !important;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 22px 16px;
  height: 100vh;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-block-end: 3em;
    button {
      margin-bottom: 12px;
      background-color:#323435;
      color: #fff;
      border: none;
    }
  }
  .header-collapsed {
    display: flex;
    flex-direction: row;
    justify-content: center;
    button {
      margin-bottom: 12px;
      background-color:#323435;
      color: #fff;
      border: none;
    }

  }
  .navigator {
    div{
      background-color:#323435;
    }
    .sidebar-container {
      background-color:#323435;
      ::ng-deep .ant-menu-sub{
        background-color:#323435;
      }
      li {
        border-radius: 3px;
      }

    } 
  }  
}

